  <%= render 'layouts/headuser'%>
  <div class="contacto">
  	<h3>Cotiza ahora con nosotros!</h3>
  	<div class="row">
  	<div class="large-12 columns">
  	<form>  
		<label>Nombre
		    <input type="text" placeholder="Nombre">
		    </label>
		    <label>Empresa
		    <input type="text" placeholder="Empresa">
		    </label>
		    <label>Correo
		    <input type="email" placeholder="Email">
		    </label>
		    <label>Telefono
		    <input type="tel" placeholder="Telefono">
		    </label>
		    <label>
			¿Que deseas cotizar?
		    <textarea placeholder=""></textarea>
			</label>  
	</form>
	 </div>
	</div>
  </div>
  
	<%= render 'layouts/footuser'%>