
/* Menu bar */


.title-bar{
	display: none;
}

@media (max-width: 639px){
	
	.top-bar-left{
		display: none;
	}
	.navbar{
		background-color: white ;
		color: black;
		border: none !important;

	}
	.top-bar{
		padding: 0px !important;

	}
	.menu>li>a{
		font-family: 'Oswald', sans-serif;
		color : black !important;
	}
	.menu{
		width: 100%;

	}
	.menu>li{
		width: 35%;
		text-align: center;
	}
	.menu>li:hover{
		background-color: #F44336;

	}
	.menu>li>a:hover{
		color: white !important;
	}
	

}
.navbar-top{
	background-color: white;
}
.navbar-top-bar{
	background-color: #F44336;
}
.menu-top>li>a{
		font-family: 'Oswald', sans-serif;
		color : black !important;
}
.menu-top>li>a:hover{
		
		color : #FF5722 !important;
}
.menu-top-bar>li>a{
		font-family: 'Oswald', sans-serif;
		color : white !important;
}
.menu-top-bar>li>a:hover{
		
		color : #FFEBEE !important;
}
.top-bar-left-top > a{
	font-family: 'Oswald', sans-serif;
	color : black !important;
}
.top-bar-left-top > a:hover{
	
	color : #FF5722 !important;
}
.top-bar-left-top-bar > a{
	font-family: 'Oswald', sans-serif;
	color :white !important;
}
.top-bar-left-top-bar > a:hover{
	
	color : #FFEBEE !important;
}
.navbar   {
	position: fixed;
	right: 0;
	left: 0;
	border-bottom: 1px solid rgba(255,255,255,.7);
	z-index: 1000;
}
.top-bar , .menu{
	background-color: transparent !important;
}
.top-bar-left > a{
	color :rgba(255,255,255,.7);
	font-weight: 600;
	text-transform: uppercase;
	padding: 15px 15px;
	font-size: 20px;
	margin-left: 15px;
	font-family: 'Oswald', sans-serif;
}
.menu>li>a{
	font-family: 'Oswald', sans-serif;
	color :rgba(255,255,255,.7);
}

.menu>li>a:hover , .top-bar-left > a:hover{
	color :rgba(255,255,255,1);
}
header{
	position: relative;
 	width: 100%;
  	min-height: auto;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
  	background-position: center;
  	background-image:  url( fondo.jpg );
  	text-align: center;
  	color: white;
	
}
@media (min-width: 768px){
	header{
		min-height: 100%;
	}
	header .header-wrap{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 0 50px;
	}
}
/*header contenido*/
header .header-wrap{
	width: 100%;
	text-align: center;
	padding: 90px 15px;
}
header .header-wrap{
	width: 100%;
	text-align: center;
}

header .header-wrapper>h1{
	text-transform: uppercase;
	font-weight: 700;
}
/* description */
.description-wrap{
	width: 100%;
	padding: 100px 80px;
	text-align: center;
	background-color: #FF5722;
	color: white;
	font-family: 'Oswald', sans-serif;
}
.description-wrap-inner>p{
	margin: 15px 0px 15px 0px;
}
.description-wrap-inner>h3{
	text-transform: uppercase;
}
.catalogo{
	background-color: white !important;
	color: black;
	margin-top: 35px;
}
.catalogo:hover{

	color: black !important;
}

.catalogo-product{
	position: relative;
	color: white;
}
.catalogo-product>h6 {
	font-family: 'Oswald', sans-serif;
	font-size: 32px;
	margin-top: 50%;
	display: none;
}
.catalogo-resume > .row{
	max-width: 100rem;
}

.no-gutter > [class*='large-'] {
  padding-right: 0;
  padding-left: 0;
}
.text{
	position: absolute;
	top: 0;
	padding-top: 35%;
	width: 100%;
	height: 100%;
	text-align: center;
	visibility: hidden;
	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
}
.catalogo-product:hover > h6{
	display: initial;
}

.catalogo-product:hover .text{
	visibility: visible;
	background-color: #F44336;
}
.socio{
	
	text-align: center;
	color: #333 !important;
	padding: 80px 0px 80px 0px;
}
.socio > h3{
	margin-bottom: 30px;

}
.socio-inner>h6{
	font-family: 'Oswald', sans-serif;
}
.socio-inner > a img {
	width: 20%;
}
.footer{
	padding: 30px 0 30px 0;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: white;
	background: #F44336;
}
.footer>h3{
	margin-bottom: 30px;
}
.footer-copy{
	width: 100%;
	background: #333;
	color: white;
	text-align: center;
	background: #E53935;
}
/*catalogo page*/
.catalogo-wrap{
	padding: 80px 0 0 0;
	color: #333;
}
.catalogo-wrap > h3{
	text-align: center;
	margin: 0 0 35px 0;
}
.catalogo-inner{
	padding: 5px;
	width: 100%;
	background: #3F51B5;
	color: white;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 15px;
}
/*Contacto*/
.contacto{
	font-family: 'Oswald', sans-serif;
	padding: 80px 0 0 0 ;
	width: 800px;
	height: auto;
	margin: 0 auto;
}
.contacto>h3{
	text-align: center;
}
textarea{
	height: 100px;
	resize: none;
}
/*Producto*/
.newproducto , .editproducto{
	font-family: 'Oswald', sans-serif;
	padding: 80px 0 0 0 ;
	width: 50%;
	margin: 0 auto;
	height: auto;
}
.edit{
	margin-left: 15px;
}