<!-- Socios -->
<div class="socio">
	<h3> Nuestros Socios </h3>
	<div class="row">

		<div class="small-6 large-4 columns">
			<div class="socio-inner">
				<%= link_to image_tag('logo_apponder.gif') , 'http://www.apponder.com'  %>
				<h6>Apponder-Diseños de paginas web</h6>
			</div>
		</div>
	</div>
</div>
<!--end socio-->
<!-- footer -->
<div class="footer">
	<h3>Contactanos</h3>
	<div class="row">
		<div class="small-12 large-4 columns">
			<p><i class="fi-telephone"></i> +57 3025389724</p>
		</div>
		<div class="small-12 large-4 columns">
			<p><i class="fi-mail"></i> gerencia@luxmar.com</p>
		</div>
		<div class="small-12 large-4 columns">
			<p><i class="fi-marker"></i> Bogota D.C</p>
		</div>
	</div>
</div>
<div class="footer-copy">
	<div class="row">
		<span>© 2016 Copyright Apponder</span>
	</div>
</div>