<div id ="nave" class="navbar navbar-top-bar">
  	<div class="title-bar" >
	  <button class="menu-icon" type="button" data-toggle></button>
	  <div class="title-bar-title">Menu</div>
	</div>

	<div class="top-bar" id="example-menu">
	  <div class="top-bar-left top-bar-left-top-bar">
	    <%= link_to("Luxmar",'/')%>
	  </div>
	  <div class="top-bar-right">
	    <ul class="menu menu-top-bar">
	    	<li><%= link_to("Pagina web",'/')%></li>
	      <li><%= link_to("Ver Productos",products_path)%></li>
	      <li><%= link_to("Salir",'about')%></li>
	    </ul>
	  </div>
	</div>
  </div>